@{
    ViewData["Title"] = "";
}
<link href="~/css/miain.css" rel="stylesheet" />

<div class="text-center">
    <h1 class="display-4">Cảm ơn qúy khách</h1>
    <p>Chúng tôi kính <a href="#">Chúc quý khách mua sắm vui vẻ</a>.</p>
</div>
