@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<link href="~/css/miain.css" rel="stylesheet" />

<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>
